@model IEnumerable<PekerjaLisensi.Models.Lisensi>

@{
    ViewData["Title"] = "Index";
}

<h5>Maintance Data Lisensi</h5>

<div class="Container d-flex justify-content-between">
    <p>
        <a asp-action="Create" class="btn btn-success">Add Lisensi</a>
    </p>
    <form asp-action="HasilPencarian">
        <div asp-validation-summary="ModelOnly" class="text-danger "></div>
        <div class="float-end form-group d-flex ">
            <label for="KataKunci" class="control-label"></label>
            <input name="KataKunci" class="form-control" />
            <input type="submit" value="Cari" class="btn btn-secondary" />
        </div>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NamaLisensi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JenisLisensi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NamaLisensi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JenisLisensi)
                   
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

