@model PekerjaLisensi.Models.DataLisensi

@{
    ViewData["Title"] = "Tambah Lisensi";
}

<h5 class="mb-4 text-center">Tambah Lisensi</h5>

<div class="row">
    <div class="col-md-6 mx-auto">
        <form asp-action="Create" class="card">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="card-body">
                <div class="mb-3">
                    <label class="control-label">Nama Pekerja</label>
                    <select asp-for="Pekerja" class="form-select" aria-label="Default select example">
                        @foreach (var item in ViewBag.ListPekerja)
                        {
                            <option value="@item.Id">@item.Nama</option>
                        }
                    </select>
                    <span asp-validation-for="Pekerja" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="control-label">Nama Lisensi</label>
                    <select asp-for="Lisensi" class="form-select" aria-label="Default select example">
                        @foreach (var item in ViewBag.ListLisensi)
                        {
                            <option value="@item.Id">@item.NamaLisensi.ToUpper() - @item.JenisLisensi.ToUpper()</option>
                        }
                    </select>
                    <span asp-validation-for="Lisensi" class="text-danger"></span>
                </div>
            </div>
            <div class="card-footer d-flex justify-content-start">
                <input type="submit" value="Create" class="btn btn-primary me-2" />
                <a asp-action="Index" class="btn btn-secondary">Kembali</a>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
