@model IEnumerable<PekerjaLisensi.Models.DataPekerja>

@{
    ViewData["Title"] = "Index";
}

<h5>Data Pekerja</h5>
<p>
    Berikut daftar seluruh pegawai PT Kilang Pertamina Internasional
</p>
<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nama</th>
                <th scope="col">Nopek</th>
                <th scope="col">Email</th>
                <th scope="col">Posisi</th>
                <th scope="col">Status Karyawan</th>
                <th scope="col">Lisensi Terpakai</th>
                <th scope="col" class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Nama)</td>
                    <td>@Html.DisplayFor(modelItem => item.Nopek)</td>
                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                    <td>@Html.DisplayFor(modelItem => item.Posisi)</td>
                    <td>@Html.DisplayFor(modelItem => item.StatusKaryawan)</td>
                   
                    <td class="text-center">
                        <a asp-action="TambahLisensi" asp-route-id="@item.Id" class="btn btn-sm btn-outline-primary">
                            <i class="bi bi-file-plus"></i> Tambah Lisensi
                        </a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
