@model IEnumerable<PekerjaLisensi.Models.DataPekerja>

@{
    ViewData["Title"] = "Index";
}

<style>
    .thead-single-line th {
        max-width: 200px; /* Adjust the maximum width as needed */
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center; /* Center text horizontally */
        vertical-align: middle; /* Center text vertically */
    }

    .td-single-line {
        max-width: 200px; /* Adjust the maximum width as needed */
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: center; /* Center text horizontally */
        vertical-align: middle; /* Center text vertically */
    }
</style>

<h5>Data Pekerja</h5>
<p>
    Berikut daftar seluruh pegawai PT Kilang Pertamina Internasional
</p>


<div class="Container d-flex justify-content-end">
    <form asp-action="SearchByNopek" method="get" class="mb-2">
        <div class="input-group">
            <input type="text" class="form-control" name="searchTerm" placeholder="Search for Nopek" aria-label="Search for Nopek" aria-describedby="searchButton">
            <button type="submit" class="btn btn-primary" id="searchButton">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </form>
</div>


<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
        <thead class="thead-dark thead-single-line">
            <tr>
                <th scope="col">Nama</th>
                <th scope="col">Nopek</th>
                <th scope="col">Email</th>
                <th scope="col">Posisi</th>
                <th scope="col">Perusahaan</th>
                <th scope="col">Status Karyawan</th>
                <th scope="col">Lisensi Terpakai</th>
                <th scope="col" class="text-center">Actions</th>
                    
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="td-single-line">@item.Nama</td>
                    <td class="td-single-line">@item.Nopek</td>
                    <td class="td-single-line">@item.Email</td>
                    <td class="td-single-line">@item.Posisi</td>
                    <td class="td-single-line">@item.Perusahaan</td>

                    <td class="td-single-line">@item.StatusKaryawan</td>
                    <td class="td-single-line">
                        @foreach (var group in item.DataLisensis.GroupBy(dl => dl.LisensiAja.NamaLisensi))
                        {
                            <b>@group.Key:</b> @string.Join(", ", group.Select(l => l.LisensiAja.JenisLisensi))
                            <br />
                        }
                    </td>
                    <td class="text-center">
                        <div class="d-flex justify-content-center">
                            <a asp-action="TambahLisensi" asp-route-id="@item.Id" class="btn btn-link me-2" data-toggle="tooltip" title="Tambah Lisensi">
                                <i class="fas fa-plus"></i>
                            </a>
                           
                            <div class="mb-3">
                                <!-- Hapus Semua Lisensi -->
                                <a href="@Url.Action("DeleteAllLisensi", "DataPekerja", new { id = item.Id })" class="btn text-danger" data-toggle="tooltip" title="Hapus Semua Lisensi">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </div>


                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

<!-- Add the pagination section -->
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-end">
        @for (int i = 1; i <= ViewBag.TotalPages; i++)
        {
            <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
            </li>
        }
    </ul>
</nav>
