@model IEnumerable<PekerjaLisensi.Models.DataPekerja>

@{
    ViewData["Title"] = "Index";
}

<h5>Data Pekerja</h5>
<p>
    Berikut daftar seluruh pegawai PT Kilang Pertamina Internasional
</p>
<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nama</th>
                <th scope="col">Nopek</th>
                <th scope="col">Email</th>
                <th scope="col">Posisi</th>
                <th scope="col">Status Karyawan</th>
                <th scope="col">Lisensi Terpakai</th>
                <th scope="col" class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Nama</td>
                    <td>@item.Nopek</td>
                    <td>@item.Email</td>
                    <td>@item.Posisi</td>
                    <td>@item.StatusKaryawan</td>
                    <td>
                        @foreach (var group in item.DataLisensis.GroupBy(dl => dl.LisensiAja.NamaLisensi))
                        {
                            <b>@group.Key:</b> @string.Join(", ", group.Select(l => l.LisensiAja.JenisLisensi))

                            <br />
                        }
                    </td>
                    <td class="text-center">
                        <a asp-action="TambahLisensi" asp-route-id="@item.Nopek" class="btn btn-sm btn-outline-primary">
                            <i class="bi bi-file-plus"></i> Tambah Lisensi
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
